MONGODB_URI=
MONGODB_DB_NAME=petto
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
PORT=8080
APP_ENV=development
CLIENT_APP_URL=
DEEP_LINK_SCHEME=
DEEP_LINK_DOMAIN=
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_USE_TLS=true